.documentation-page {
    background: #f8fafb;
}

.doc-card {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 15px;
}

    .doc-card h6 {
        font-size: 14px;
        font-weight: 600;
        color: #374151;
        margin-bottom: 15px;
    }

    .doc-card label {
        font-size: 12px;
        color: #6b7280;
        margin-bottom: 5px;
    }

    .doc-card .form-control {
        height: 34px;
        font-size: 12px;
        border-radius: 6px;
    }

textarea.form-control {
    height: 70px;
}

.btn-success {
    background: #16834b;
    border: none;
}
.program-summary-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 18px 10px;
}


.summary-item {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid #e5e7eb;
    text-align: left;
}


    .summary-item:last-child {
        border-right: none;
    }



    .summary-item label {
        display: block;
        font-size: 12px;
        color: #6b7280;
        margin-bottom: 8px;
    }



.summary-value {
    font-size: 13px;
    font-weight: 600;
    color: #047857;
}